<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_TphPro>
            <version>1.0.0</version>
        </Webgriffe_TphPro>
    </modules>
    <global>
        <blocks>
            <webgriffe_tphpro>
                <class>Webgriffe_TphPro_Block</class>
            </webgriffe_tphpro>
        </blocks>
        <helpers>
            <webgriffe_tphpro>
                <class>Webgriffe_TphPro_Helper</class>
            </webgriffe_tphpro>
        </helpers>
        <models>
            <webgriffe_tphpro>
                <class>Webgriffe_TphPro_Model</class>
            </webgriffe_tphpro>
        </models>
    </global>
    
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <webgriffe_tphpro_block_to_html_after>
                        <type>singleton</type>
                        <class>webgriffe_tphpro/observer</class>          
                        <method>addTemplateHints</method>
                    </webgriffe_tphpro_block_to_html_after>
                </observers>    
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>